<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <script src="/js/stapes.min.js"></script>
  <script src="/js/zepto.min.js"></script>
  <script src="/js/ractive.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
   <div class="flash-container">
      <%= styled_flash %>
   </div>
   <div class="player-container">
      <div id="player">
         Your video will appear here.
      </div>
   </div>
   <div class="form-container">
   </div>

   <script id="form-template" type="text/ractive">
      <form name="new_cropping_form" action="/croppings" method="POST">
         <div>
            <p>
               STEP 1
            </p>
            <input type="hidden" id="cropping_youtube_id" name="cropping[youtube_id]" class="hide" value="{{ youtube_id }}" />

            <label for="cropping_youtube_url">Youtube URL</label>
            <input type="text" id="cropping_youtube_url" name="cropping[youtube_url]" placeholder="Enter a Youtube URL" value="{{ youtube_url }}" />
         </div>
         <div>
            <p>
              STEP 2
            </p>
            <label for="cropping_start_seconds">Start Time (in seconds)</label>
            <input type="number" id="cropping_start_seconds" name="cropping[start_seconds]" min="0" placeholder="Start Time" value="{{ start_seconds }}" readonly="{{ wadsworth_constant }}"/>
            <button type="button" id="cropping_capture_start_seconds" title="Capture the start time from the current position in the video." disabled="{{ wadsworth_constant }}" on-click="captureStartTime">Capture</button>
         </div>
         <div>
            <label for="cropping_end_seconds">End Time (in seconds)</label>
            <input type="number" id="cropping_end_seconds" name="cropping[end_seconds]" min="0" placeholder="End Time" value="{{ end_seconds }}" readonly="{{ wadsworth_constant }}" />
            <button type="button" id="cropping_capture_end_seconds" title="Capture the end time from the current position in the video." disabled="{{ wadsworth_constant }}" on-click="captureEndTime">Capture</button>
         </div>
         <div>
            <p>
               OR
            </p>
            <input type="hidden" id="cropping_wadsworth_constant" name="cropping[wadsworth_constant]" value="0"/>
            <input type="checkbox" id="cropping_wadsworth_constant" name="cropping[wadsworth_constant]" checked="{{ wadsworth_constant }}" on-change="toggleWadsworthConstant" value="1"/>
            <label for="cropping_wadsworth_constant" title="The Wadsworth Constant is an axiom which states that the first 30% of any video can be skipped because it contains no worthwhile or interesting information.">Wadsworth Constant (you may need to play the video first before choosing this option)</label>
         </div>
         <div>
            <p>
               STEP 3
            </p>
            <input type="submit" value="SAVE" />
         </div>
      </form>
   </script>

   <script>
      var cropper = new YTCropper.Cropper();
   </script>
</body>
